In [3]:
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import f_oneway
from scipy.stats import ttest_ind
from sklearn import datasets

In [8]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
# using the attribute information as the column names
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Class']
iris =  pd.read_csv(csv_url, names = col_names)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### t student
$$ t=\frac{(x_1-x_2)}{\sqrt{\frac{(S_1^2)}{n_1} + \frac{(S_2^2)}{n_2} }}$$

In [38]:
def tstuden(datax1, datax2, n):
    se1 = datax1.std()/np.sqrt(n)
    se2 = datax2.std()/np.sqrt(n)
    sed = np.sqrt(se1**2 + se2**2)
    t = (datax1.mean()-datax2.mean())/sed
    return t

def tstudenSingle(datax1, n, h0):
    se1 = datax1.std()/np.sqrt(n)
    sed = np.sqrt(se1**2)
    t = (datax1.mean()-h0)/sed
    return t

In [21]:
t = tstuden(iris["Sepal_Width"], iris["Petal_Width"], 10)
p = ttest_ind(iris["Sepal_Width"], iris["Petal_Width"])
print(t, "\n" ,p)

6.684341653035437
 Ttest_indResult(statistic=25.888343902566806, pvalue=3.1096264934749126e-78)

In [40]:
u0= 1.75
data = [1.5, 2, 2.5]
data = pd.DataFrame(data)
std = data.std()
mean = data.mean()
print(std[0], mean[0])
t = tstudenSingle(data, 3, u0)
print(t[0])

0.5 2.0
0.8660254037844385