In [2]:
import pandas as pd
rf = pd.read_csv('C:/Users/Rreyes/Downloads/discounts_restructure-input.txt')
rf.to_csv('C:/Users/Rreyes/Downloads/discounts_restructure-input.csv', index=0)

# rf = pd.read_csv('C:/Users/Rreyes/Downloads/discounts_restructure-input.csv', )
# rf.head()

   Unnamed: 0  drt_operacion drt_tipo_reest
0           0      101000099              M
1           1      401000033              M
2           2      101000117              A
3           3      101000072              M
4           4            111              M